**/*.ipynb_checkpoints/
.ipynb_checkpoints
*/.ipynb_checkpoints/*
.ipynb_checkpoints/helpers-checkpoint.py
.ipynb_checkpoints/helpers-checkpoint.py
.ipynb_checkpoints/helpers-checkpoint.py
.ipynb_checkpoints/Modules-checkpoint.py
.ipynb_checkpoints/Test-checkpoint.ipynb
