
.ipynb_checkpoints/Gridsearch-checkpoint.ipynb
.ipynb_checkpoints/helpers-checkpoint.py
.ipynb_checkpoints/Test-checkpoint.py
.ipynb_checkpoints/Modules-checkpoint.py
.ipynb_checkpoints/TESTfin-checkpoint.ipynb
